* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f0f0f0;
  height: 100vh;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.slider {
  position: relative;
  width: 50%;
  max-width: 350px;
  overflow: hidden;
  border-radius: 30px;
  margin-left: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  user-select: none;
}

.slide img {
  width: 100%;
  display: block;
}

.controls,
.indicators {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
}

.controls {
  top: 50%;
  transform: translateY(-50%);
  justify-content: space-between;
  padding: 0 10px;
}

.controls button {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 50%;
}

.indicators {
  bottom: 10px;
  gap: 10px;
}

.indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.indicator.active {
  background: white;
}

.auto-button {
  position: absolute;
  bottom: 25px;      
  left: 85%;
  transform: translateX(-50%);
  background: rgb(89, 153, 73);
  border: none;
  padding: 5px 25px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  color: white;
}


